html {
	background-image:url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-color:#000
}

body {
	background-color:rgba(44,62,80,.2);
	background-image:url(../images/pattern.png);
	background-position:auto;
	background-repeat:repeat
}
